<h3>I. Autorzy</h3>

<p>GET autors - pobieranie wszystkich autorów,</p>

<p>GET authors/:id - pobieranie pojedynczego autora (gdzie :id jest kluczem w tabeli autorzy),</p>

<p>POST authors - tworzenie nowego autora,</p>

<p>PUT authors/:id - edycja pojedynczego autora (gdzie :id jest kluczem w tabeli autorzy),</p>

<p>DELETE authors/:id - usunięcie pojedynczego autora (gdzie :id jest kluczem w tabeli autorzy).</p>


<h3>II. Książki</h3>

<p>GET books - pobieranie wszystkich książek,</p>

<p>GET books/:id - pobieranie pojedynczej książki (gdzie :id jest kluczem w tabeli książki),</p>

<p>POST books - tworzenie nowej książki,</p>

<p>PUT books/:id - edycja pojedynczej książki (gdzie :id jest kluczem w tabeli książki),</p>

<p>DELETE books/:id - usunięcie pojedynczej książki (gdzie :id jest kluczem w tabeli książki).</p>


<h3>III. Wydawcy</h3>

<p>GET publishers - pobieranie wszystkich wydawców,</p>

<p>GET publishers/:id - pobieranie pojedynczego wydawcy (gdzie :id jest kluczem w tabeli wydawcy),</p>

<p>POST publishers - tworzenie nowego wydawcy,</p>

<p>PUT publishers/:id - edycja pojedynczego wydawcy (gdzie :id jest kluczem w tabeli wydawcy),</p>

<p>DELETE publishers/:id - usunięcie pojedynczego wydawcy (gdzie :id jest kluczem w tabeli wydawcy).</p>
